# eclipse
bin
eclipse
*.launch
.settings
.metadata
.classpath
.project

# idea
out
classes
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
run/*
!run/gameTestServer
run/gameTestServer/*
!run/gameTestServer/gameteststructures
# Ignore deobfuscated OptiFine
libs/OptiFine_*_MOD-deobf.jar
